<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUJI detail</title>
    <link rel="stylesheet" href="./css/sub_style.css">
    <link rel="stylesheet" href="./css/aos.css" />
    
  </head>
<body>
  <div class="menu_wrapper">
    <a><img src="./images/icon/menu_x.svg" width="20" alt="menu닫기"></a>
    <div class="menu_wrap">
      <div class="menu_lt">
        <a href="#" class="hover-line_b"><p>Login</p></a>
        <a href="#" class="hover-line_b"><p>My page</p></a>
        <a href="#" class="hover-line_b"><p>Cart</p></a>
        <a href="#" class="hover-line_b"><p>Wish list</p></a>
      </div>
      <div class="menu_rt">
        <a href="#" class="hover-line_b"><p>Help</p></a>
        <a href="#" class="hover-line_b"><p>Return Policy</p></a>
        <a href="#" class="hover-line_b"><p>Shipment</p></a>
        <a href="#" class="hover-line_b"><p>FAQs</p></a>
        <a href="#" class="hover-line_b"><p>Size Chart</p></a>
      </div>
    </div>
  </div>
  <div class="wrapper main">
    <header>
      <div class="logo_wrap">
        <a onclick="clickMenu()" id="menu-on"><img src="./images/icon/menu.svg" width="20" alt="menu"></a>
          <h1><a href="../index.html"><img src="./images/icon/logo-muji.svg" width="150" alt="muji로고"></a></h1>
      </div>
      <nav>
        <div class="nav_rt">
        <ul class="gnb">
          <li><a href="../index.html" class="hover-line ">Home</a></li>
          <li class="on"><a href="./sub_02.html" class="hover-line ">Apparel</a></li>
          <li><a href="#" class="hover-line ">Stationery</a></li>
          <li><a href="#" class="hover-line ">Furniture</a></li>
          <li><a href="#" class="hover-line ">Health & Beauty</a></li>
        </ul>
        <ul class="sub">
          <li><a href="#">Login</a></li>
          <li><a href="#">My page</a></li> 
          <li class="on"><a href="#">Cart <span><img src="./images/icon/cart.svg" width="21" alt="더알아보기"></span></a></li> 
        </ul>
      </div>
      </nav>
  </header>
  <div class="main_wrap wrapper">
    <div class="copy_rt">
      <p>
        Copyright LOTTE SHOPPING Co., Ltd. 
        <br>
        e-commerce Business Division All right reserved. 
      </p>
      <div class="lang">
        <a href="" class="on hover-line">KOR</a>
        <a href="" class="hover-line">GUL</a>
      </div>
    </div>
    <section class="wrapper sub3 apparel">
      <div class="wrapper sub3 apparel-wrapper">
        <div class="left-wrap">
          <ul class="menu1">
            <li><a href="#" class="hover-line">SPECIAL</a></li>
            <li><a href="#" class="hover-line">BEST</a></li>
            <li><a href="#" class="hover-line">NEW ARRIVAL</a></li>
            <li><a href="#" class="hover-line">온라인 한정사이즈</a></li>
          </ul>
          <ul class="menu2">
            <li class="on"><a href="#" class="hover-line">ALL</a></li>
            <li><a href="#" class="hover-line">MUJI LABO</a></li>
            <li><a href="#" class="hover-line">남성복</a></li>
            <li><a href="#" class="hover-line">여성복</a></li>
            <li><a href="#" class="hover-line">아동복 / 마더니티</a></li>
            <li><a href="#" class="hover-line">이너웨어</a></li>
            <li><a href="#" class="hover-line">가방 / 신발</a></li>
            <li><a href="#" class="hover-line">액세서리 / 양말 / 우산</a></li>
          </ul>
        </div>
        <div class="right-wrap">
          <a href="#">Home > apparel > 남성복 > 상의</a>
          <div class="prd-wrapper">
            <div class="img-wrapper">
              <div class="main-img wrap">
                <img src="./images/sub3_1.png" class="target active" data-zoom="3" alt="상품1">
                <img src="./images/sub3_4_.png" class="target "data-zoom="3" alt="상품4">
                <img src="./images/sub3_2_.png" class="target "data-zoom="3" alt="상품2">
                <img src="./images/sub3_5_.png" class="target "data-zoom="3" alt="상품3">
              </div>
              <div class="sub-img">
                <img src="./images/sub3_3.png" alt="상품2">
                <img src="./images/sub3_4.png" alt="상품3">
                <img src="./images/sub3_5.png" alt="상품4">
                <img src="./images/sub3_2.png" alt="상품1">
              </div>
            </div>
            <div class="prd-wrap">
              <h3 class="title">
                인도면 저지 · 크루넥 긴소매 티셔츠
              </h3>
              <p class="cost">11,900원</p>
              <p class="line"></p>
              <ul class="txt-wrap">
                <li><span>배송비</span>3,000원 전국(일부지역 제외) <br>
                <li><span></span>*30,000원 이상 구입 시 무료</li>
                <li><span>배송정보</span>3일이내 발송(토,일 공휴일제외)</li>
                <li><span>제조사/원산지</span>MUJI/MADE IN VIETNAM</li>
                <li><span>상품코드</span>ABC01A0As</li>
                </ul>
              <div class="cart-wrapper">
                <div class="color-wrap">
                  <p class="title">COLOR</p>
                  <div class="color">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                  </div>
                </div>
                <div class="size-wrap">
                  <p class="title">SIZE</p>
                  <div class="size">
                    <p>XS</p>
                    <p>S</p>
                    <p>M</p>
                    <p>L</p>
                    <p>XL</p>
                  </div>
                </div>
                <div class="cart-wrap">
                  <div class="add">
                    <div class="minus"><img src="./images/icon/minus.svg" width="20" alt="빼기"></div>
                    <p>1</p>
                    <div class="plus"><img src="./images/icon/add.svg" width="20" alt="더하기"> </div>
                 </div>
                 <div class="icon">
                  <div class="heart"></div> 
                  <div class="share"></div> 
                 </div>
                 <div class="bt-wrap">
                   <button class="cart">
                     장바구니
                     <span>
                         <img src="./images/icon/cart2.svg" width="20" alt="장바구니담기">
                     </span>
                   </button>
                   <button class="buy">
                    바로구매
                    <span>
                        <img src="./images/icon/cart_w.svg" width="20" alt="바로구매하기">
                    </span>
                  </button>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" detail-wrapper ">
            <ul class="category">
              <li class="detail active">detail</li>
              <li class="review ">review</li>
              <li class="qna ">Q&A</li>
            </ul>
            <div class="detail-wrap">
              <div class="detail active">
                <ul>
                  <li><span>제품 정보</span>목둘레의 사양에 신경 쓴 착용감 좋고 튼튼한 티셔츠입니다. 오가닉 코튼을 사용했습니다.</li>
                  <li><span>제품소재</span>인도면 저지 · 본체:면100%, 리브부분:면78%+폴리에스터22%</li>
                  <li><span>색상</span>상단참조</li>
                  <li><span>치수</span>하단참조</li>
                  <li><span>제조국ㆍ지역</span>베트남</li>
                  <li><span>세탁 및 취급 주의사항</span>짙은 색상 제품은 사용 중 마찰이나 젖은 상태에서의 접촉으로 이염될 수 있습니다. </li>
                  <li><span></span>세탁할 때는 단독 세탁하여 주시기 바랍니다. </li>
                  <li><span>제조연월</span>2020년 3월</li>
                  <li><span>품질보증기준</span>관련법 및 소비자분쟁해결 기준에 따름</li>
                  <li><span>수입자(수입업체명)</span>무인양품㈜</li>
                  <li><span>고객센터 전화번호</span>1577-2892</li>
                  <li><span>KC 인증 필 유무</span>대상아님</li>
                  <li><span>사이즈</span>
                      <table>
                        <thead>
                          <tr>
                            <th>구분</th><th>기장</th><th>어깨폭</th><th>가슴둘레</th><th>밑단폭</th><th>소매길이</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="size">XS</td><td>65cm</td><td>38cm</td><td>94cm</td><td>46cm</td><td>61cm</td>
                          </tr>
                          <tr>
                            <td class="size">S</td><td>65cm</td><td>40cm</td><td>98cm</td><td>48cm</td><td>61cm</td>
                          </tr>
                          <tr>
                            <td class="size">M</td><td>67cm</td><td>42cm</td><td>102cm</td><td>50cm</td><td>62cm</td>
                          </tr>
                          <tr>
                            <td class="size">L</td><td>69cm</td><td>44cm</td><td>106cm</td><td>52cm</td><td>63cm</td>
                          </tr>
                          <tr>
                            <td class="size">XL</td><td>72cm</td><td>46cm</td><td>114cm</td><td>56cm</td><td>64cm</td>
                          </tr>
                          <tr>
                            <td class="size">XXL</td><td>74cm</td><td>48cm</td><td>122cm</td><td>60cm</td><td>64cm</td>
                          </tr>
                        </tbody>
                      </table>
                  </li>
                </ul>
              </div>
              <div class="review ">
                <div class="star-rating space-x-4 mx-auto">
                  <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                  <label for="5-stars" class="star pr-4">★</label>
                  <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                  <label for="4-stars" class="star">★</label>
                  <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                  <label for="3-stars" class="star">★</label>
                  <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                  <label for="2-stars" class="star">★</label>
                  <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
                  <label for="1-star" class="star">★</label>
                </div>
                <p class="obj">5 reviews</p>
                <p class="write">write</p>
                <div class="write-wrapper">
                  <div class="write-wrap">
                    <h3 class="title">늘 실망시키지 않아요</h3>
                    <p class="right">
                      <span>bei***</span>
                      <span>★★★★☆</span>
                      <span>21.08.31</span>
                    </p>
                    <p class="review">비슷한 제품 다른 곳에서 찾아도 결국은 여기서 다시 사게되네요 <br>
                      가을에 막 입기 딱인 것 같아요 색깔별로 살까 고민중입니다</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">다른 사람들이 안썼으면 좋겠어요</h3>
                    <p class="right">
                      <span>hyej***</span>
                      <span>★★★★★</span>
                      <span>21.08.25</span>
                    </p>
                    <p class="review">나만 쓸수있게</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">오프라인에서 샀는데 또 샀어요</h3>
                    <p class="right">
                      <span>tti***</span>
                      <span>★★★★☆</span>
                      <span>21.08.21</span>
                    </p>
                    <p class="review">굿굿~ 근데 배송 느려서 별 하나 뻈어요</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">깔별로 샀습니다</h3>
                    <p class="right">
                      <span>ewe***</span>
                      <span>★★★★☆</span>
                      <span>21.08.07</span>
                    </p>
                    <p class="review">무지티 파는 곳중에서 가성비 젤 좋아요</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">환절기템</h3>
                    <p class="right">
                      <span>gdfd***</span>
                      <span>★★★★★</span>
                      <span>21.08.03</span>
                    </p>
                    <p class="review">좋습니당ㅇ</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">질이 좋아요</h3>
                    <p class="right">
                      <span>rre***</span>
                      <span>★★★★☆</span>
                      <span>21.07.31</span>
                    </p>
                    <p class="review">계속 팔아주시길,,</p>
                  </div>
                </div>
                <a href="#">교환 및 환불정책 ></a>
              </div>
              <div class="qna ">
                <h2 class="qna">Q&A</h2>
                <p class="obj">5 questions</p>
                <p class="write">write</p>
                <div class="write-wrapper">
                  <div class="write-wrap">
                    <h3 class="title">배송하다가 사고가 난건지 너무 안오네요</h3>
                    <p class="right">
                      <span>min***</span>
                      <span>21.08.28</span>
                    </p>
                    <p class="review">└ 비밀글입니다.</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">교환 문의드려요</h3>
                    <p class="right">
                      <span>we***</span>
                      <span>21.07.23</span>
                    </p>
                    <p class="review">└ 비밀글입니다.</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">키가 155인데</h3>
                    <p class="right">
                      <span>bei***</span>
                      <span>21.07.12</span>
                    </p>
                    <p class="review">└ 비밀글입니다.</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">주소 변경하고 싶습니다.</h3>
                    <p class="right">
                      <span>js***</span>
                      <span>21.07.03</span>
                    </p>
                    <p class="review">└ 비밀글입니다.</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">27일안에 받을 수 있을까요</h3>
                    <p class="right">
                      <span>hye***</span>
                      <span>21.06.21</span>
                    </p>
                    <p class="review">└ 비밀글입니다.</p>
                  </div>
                  <div class="write-wrap">
                    <h3 class="title">파란색 언제 재입고되나요</h3>
                    <p class="right">
                      <span>allw***</span>
                      <span>21.06.13</span>
                    </p>
                    <p class="review">└ 비밀글입니다.</p>
                  </div>
                </div>
                <a href="#">교환 및 환불정책 ></a>
              </div>
            </div>
          </div>
          </div>
        </section>
        </div>
        </div>
        <section class="wrapper last sub3">
          <div class=" swiper-container">
            <p class="title">최근 본 상품</p>
            <div class="last-wrapper swiper-wrapper">
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later1.png" alt="상품1"></a>
                </div>
                <p class="item">초장면 포플린 이지팬츠</p>
              </div>
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later2.png" alt="상품2"></a>
                </div>
                <p class="item">카페트 클리너용ㆍ리필</p>
              </div>
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later3.png" alt="상품3"></a>
                </div>
                <p class="item">워싱 옥스포드 · 스탠드칼라오버 셔츠</p>
              </div>
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later4.png" alt="상품4"></a>
                </div>
                <p class="item">사이드 심리스 이중 가제 · 파자마 · 남성</p>
              </div>
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later5.png" alt="상품5"></a>
                </div>
                <p class="item">소프트 테리 · 트레이너 · 베이비</p>
              </div>
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later6.png" alt="상품5"></a>
                </div>
                <p class="item">야크 캐멀 혼방 · 튜닉</p>
              </div>
              <div class="last-wrap swiper-slide">
                <div class="img-wrap">
                  <a href="#"><img src="./images/sub_later7.png" alt="상품5"></a>
                </div>
                <p class="item">스트레치 코듀로이 · 이지 턱 와이드 팬츠</p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <footer class="sub3">
          <div class="footer-wrap">
            <div class="logo-wrap">
              <a href="../index.html">
                <img src="./images/icon/logo-muji.svg" width="150" alt="muji로고">
               </a> 
            </div>
            <ul class="notice-wrap">
              <li><a href="./sub_04.html">고객센터</a></li>
              <li><a href="./sub_04.html">LECS안내 및 문의</a></li>
              <li><a href="./sub_04.html">롯데쇼핑e커머스사업부 소개</a></li>
              <li><a href="./sub_04.html">개인정보 처리방침</a></li>
              <li><a href="./sub_04.html">이용약관</a></li>
              <li><a href="./sub_04.html">청소년보호방침회원가입/탈퇴</a></li>
            </ul>
            <div class="copyright-wrap">
              <p>MUJI 온라인스토어는 롯데 LECS(www.lecs.com)를 이용하고 있습니다.</p>
              <br>
              <p>
                롯데쇼핑 주식회사 대표이사 강희태 <br>
        서울특별시 송파구 올림픽로 300 롯데월드타워 26층 <br>
        사업자등록번호 : 529-85-00774 (롯데쇼핑(주) e커머스사업부) <br>
        통신판매업 신고 : 2019-서울송파-0158
              </p>
              <p>
                고객만족센터: 1577-2892 muji@lotte.net 공정거래위원회 사업자정보확인-새창 <br>
        호스팅 서비스 사업자 : 롯데쇼핑㈜ e커머스사업부 <br>
        Copyright LOTTE SHOPPING Co., Ltd. e-commerce Business Division All right reserved.
              </p>
            </div>
          </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="./js/index_sub.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/aos.js"></script>
    <script src="./js/skrollr.min.js" type="text/javascript"></script>
</body>
</html>